---
interface Props {
  mode?: "post" | "list";
}

const { mode } = Astro.props;
---

<header
  class:list={[
    "h-10",
    mode === "post" ? "" : "bg-[url('/topbar.png')] bg-cover",
  ]}
>
  <nav
    class:list={[
      "text-monsoon-50 grid grid-cols-2 items-center px-4 h-10",
      mode === "post" ? "" : "bg-siren-950/90",
    ]}
  >
    <h2>
      <a href="/" class="flex items-center space-x-2 text-lg">
        <img src="/logo.svg" alt="date-fns logo" class="w-6" />
        <span>date-fns <span class="text-monsoon-300">blog</span></span></a
      >
    </h2>

    <div class="flex space-x-3 justify-end text-monsoon-300">
      <a href="https://date-fns.org">Homepage</a>
      <a href="https://date-fns.org/docs/Getting-Started">Docs</a>
      <a href="https://github.com/date-fns/date-fns">GitHub</a>
      <a href="https://twitter.com/date_fns">Twitter</a>
    </div>
  </nav>
</header>
