---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Pattern from "../components/Pattern.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header mode="post" />

    <main>
      <article>
        <Pattern title={title} date={pubDate} mode="post" />

        <div class="prose prose-lg m-auto py-20">
          <slot />
        </div>
      </article>
    </main>

    <Footer />
  </body>
</html>
